<p>List an item and swipe on other items if you'd be willing to trade!</p>
<ul>
  <li><%= link_to "Sign Up with Email", register_path %></li>
  <li><a href="/auth/facebook">Sign up with Facebook</a></li>
</ul>

Already have an account?
<ul>
  <li><%= link_to "Login with Email", login_path %></li>
  <li><a href="/auth/facebook">Login with Facebook</a></li>
</ul>
