<p>List an item you'd be willing to trade &amp; swipe to find a match!</p>
  <%= button_to "Sign Up with Email", register_path, class: "btn btn-lg btn-primary", method: :get %>

  <p>Already have an account?</p>
  <h5><%= link_to "Sign in with Email", login_path %></h5>
  <h5><a href="/auth/facebook">Sign in with Facebook</a></h5>
</ul>

