<p>List an item you'd be willing to trade &amp; swipe to find a match!</p>
    <%= link_to "Sign Up with Email", register_path, class: "btn btn-md btn-primary" %>
    <%= link_to "Sign In with Facebook", "/auth/facebook", class: "btn btn-md btn-info" %>

  <hr>
    <p>Already have an account?</p>
    <h5><%= link_to "Login with Email", login_path %></h5>
  <hr>
