<h3>Welcome to Treasure.<h3>
  <h4>Here's how it works:</h4>
  <p>List an object you want to trade.</p>
  <p>Swipe right on an object if you'd be willing to trade your object for it.</p>
  <p>Swipe left if not.</p>
  <p>Keep swiping until you get a match!</p>

  <%= button_to "Start Swiping", items_path %>
