<% if item.avatar %>
  <%= image_tag item.avatar.url(:medium) %>
<% end %>

<h3><%= item.name %></h3>
<p><%= item.description %></p>
<%= link_to "Edit my item", edit_item_path if item.user == current_user%>
