<h1><%= @item.name %> MATCHES</h1>
<ol>
<% @matches.each do |match | %>
  <li>
    <ul>
      <li>Item 1: <%= match.item_1.name %></li>
      <li>Item 2: <%= match.item_2.name %></li>
    </ul>
  </li>
<% end %>
</ol>
