<div>
    <%= render @item %>

    <% if @other_swapped_item %>
      <p>You've traded with <%= @other_swapped_item %>.</p>
      <% end %>

    <% if @has_matches %>
      <%= render 'matches_list' %>
    <% end %>
</div>
