.main div {
  text-align: center;
}

.jumbotron {
  ul {
  list-style: none;
  padding-left: 0px;
  }
}

.footer {
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  background-color: #e7e7e7;
}

.btn-group {
    .btn {
      display: block;
  }
}

.chat {
  .chat-body {
    border-bottom: 1px dotted #B3A9A9;
    }

  .header {
    text-align: left;
    padding-top: 10px;
    padding-left: 1em;
  }

  p {
    padding-left: 1em;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #777777;
  }
}

.panel {
  margin: 0 auto;
  border: 1px solid #777777;
  width: 320px;

    .slidedown .glyphicon, .chat .glyphicon {
      margin: 0px 5px 0px 5px;
    }
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 9px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#ajax{
display: none;
  
}
