$linkcolor: rgb(0,128,128);
$linkhover: rgba(0,128,128, 0.7);

#main-body {
  background-color: #F5F5F5;
  padding: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.thumbnail {
  background-color: #F5F5F5;
  border: none;
  border-radius: 0;
}

a {
  color: $linkcolor;
    &:hover {
  color: $linkhover;
  text-decoration: none;
  }

.btn {
  a {
  color: #fff;
  }
}

.nav, li {
  font-family: 'Roboto';
  font-weight: 300;
}

.left {
  text-align: left;
}

  p {
  font-weight: 200;
  font-size: 1.3em;
  }
}

.fa {
  font-family: FontAwesome;
}

.swipe-buttons, form {
  display: inline;
}

.navbar-default .navbar-brand {
  color: black;
    &:hover {
    }
  font-family: 'Patua One', cursive;
  font-size: 3em;
  padding: .3em 0 1em .5em;
}

.alert {
  color: red;
}

.notice {
  color: green;
}

.navbar-default .navbar-nav > li > a {
  font-family: Roboto;
  font-weight: 300;
}

.btn-group {
    .btn {
      display: block;
  }
}

.chat {
  .chat-body {
    border-bottom: 1px dotted #B3A9A9;
    }

  .header {
    text-align: left;
    padding-top: 10px;
    padding-left: 1em;
  }

  p {
    padding-left: 1em;
    list-style: none;
    color: #777777;
  }
}

.panel {
  margin: 0 auto;
  border: 1px solid #777777;
  width: 100%;

    .slidedown .glyphicon, .chat .glyphicon {
      margin: 0px 5px 0px 5px;
    }
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 9px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#ajax{
display: none;

}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.item-display{
  border: 0;
}
.btn-xlarge {
    margin-top: 5px;
    padding: 18px 70px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 25px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}
.details {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 1em 0;
    padding: 0;
}
.row {
  margin-top: 5px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
    color: #333;
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.1;
}
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #1c1c1c;
    font-size: 14px;
    color: #bfbfbf;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(800px);
    bottom: 0;
    -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
}
